.DS_Store
tmp_**/
naip_*
test_inference_*/
experiment*/
new/
m_*
post_processed*
temp_123/
all_test_*/
binary_raster_*/
test_index_*/
super_*
xtrain*
ytrain*
gd_*
test_run/
x_dense*
y_dense*
data/
test_results/
unet_model_*